@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #333;
    display: contents;
    font-family: Arial, sans-serif;
}

.navbar {
    float: right;
    /* border: 1px solid red; */
    margin: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.nav-item {
    margin-right: 15px;
}

.main {
    margin-top: 300px;
    text-align: center;
}

/* .input-area {
    margin-top: 20px;
} */

.input-box {
    width: 584px;
    height: 46px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding-left: 40px;
    padding-right: 95px;
}

.search-icon {
    position: relative;
    left: 40px;
}

.right-icon {
    position: relative;
    right: 95px;
}

.right-icon .fa-solid {
    margin-left: 5px;
}

.button-area {
    padding-top: 20px;
}

.button-style {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    margin: 11px 4px;
}
.button-style:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language-area {
    margin-top:18px;
}
  
.language {
    text-decoration: none;
    padding: 0 3px;
    color: #1a0dab;
}
.language:hover{
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0;
    background: #f2f2f2;
    width: 100%;
}
.first-line {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
}
.second-line {
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0, 0, 0, .54);
    display: flex;
    justify-content: space-between;
}
.second-line a {
    margin-right: 10px;
}
.second-line a:last-child {
    margin-right: 0;
}